# <font color='blue'>Minicurso: Mineração de dados abertos</font>
## <font color='blue'>Capítulo 2 - Python Fundamentos</font>
Material disponível em: https://github.com/othoncampos/MiniCurso_Introducao_Mineracao_Dados

## Variáveis e Operadores

In [1]:
# Atribuindo o valor 1 à variável x
x = 1

In [2]:
# Imprimindo o valor da variável
x

1

In [3]:
# Imprimindo o valor da variável
print(x)

1

In [5]:
# Não podemos utilizar uma variável que não foi definida. Veja a mensagem de erro.
y

NameError: name 'y' is not defined

In [6]:
x = 2

In [7]:
x

2

In [8]:
type(x)

int

In [9]:
x = 2.2

In [11]:
type(x)

float

In [12]:
x = 1

In [13]:
x

1

## Declaração Múltipla

In [14]:
aluno1, aluno2, aluno3 = "João", "Maria", "José"

In [15]:
aluno1

'João'

In [16]:
aluno2

'Maria'

In [17]:
aluno3

'José'

In [18]:
fruta1 = fruta2 = fruta3 = "Laranja"

In [19]:
fruta1

'Laranja'

In [20]:
fruta2

'Laranja'

In [21]:
# CUIDADO!!! Python é case-sensitive. Criamos a variável fruta2, mas não a variável Fruta2.
# Letras maiúsculas e minúsculas tem diferença no nome da variável.
Fruta2

NameError: name 'Fruta2' is not defined

## Pode-se usar letras, números e underline (mas não se pode começar com números)

In [22]:
x1 = 50

In [23]:
x1

50

In [24]:
# Mensagem de erro, pois o Python não permite nomes de variáveis que iniciem com números
1x = 50

SyntaxError: invalid syntax (<ipython-input-24-33a7c2a39e57>, line 2)

## Não se pode usar palavras reservadas como nome de variável

### False      
### class      
### finally    
### is         
### return
### None       
### continue   
### for        
### lambda     
### try
### True       
### def        
### from       
### nonlocal   
#### while
### and        
### del        
### global     
### not        
### with
### as         
### elif       
### if         
### or         
### yield
### assert     
### else       
### import     
### pass
### break      
### except     
### in         
### raise

In [23]:
# Não podemos usar palavras reservadas como nome de variável
break = 1

SyntaxError: invalid syntax (<ipython-input-23-dd17f949cdf7>, line 2)

## Variáveis atribuídas a outras variáveis e ordem dos operadores

In [25]:
largura = 2

In [26]:
altura = 4

In [27]:
area = largura * altura

In [28]:
area

8

In [29]:
perimetro = 2 * largura + 2 * altura

In [30]:
perimetro

12

In [31]:
# A ordem dos operadores é a mesma seguida na Matemática
perimetro = 2 * (largura + 2)  * altura

In [32]:
perimetro

32

## Operações com variáveis

In [32]:
idade1 = 25

In [33]:
idade2 = 35

In [34]:
idade1 + idade2

60

In [35]:
idade2 - idade1

10

In [36]:
idade2 * idade1

875

In [37]:
idade2 / idade1

1.4

In [38]:
idade2 % idade1

10

## Concatenação de Variáveis

In [33]:
nome = "Othon"

In [34]:
sobrenome = "Campos"

In [35]:
nomeCompleto = nome + " " + sobrenome

In [36]:
nomeCompleto

'Othon Campos'

***

### Obrigado - Othon Campos - <a href="https://www.portal.ifba.edu.br/paulo-afonso"> IFBA - Paulo Afonso</a>